*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height: 60px;
}



/*Navigation Bar Styling*/
#logo img{
    margin: 3px 12px;
    height: 43px;
    width: 50px;
    border-radius: 40%;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
}

#logo{
    margin: 1px 20px;
    margin-top: 5px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.45rem;
}

#navbar ul li a{
    color: white;
    list-style: none;
    font-size: 1.45rem;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 30px;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;;
}



/*Home Part Styling*/
#home{
    display: flex;
    flex-direction: column;
    padding: 5px 350px;
    height: 1000px;
    align-items: center;
    justify-content: center;
    position: relative;
}

#home::before{
    content: "";
    background: url('../Images/remote4.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}

#home h1{
    color: black;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
}
h1 { font-family: Comfortaa; 
	font-size: 47px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 23.5px; } 

#home p{
	font-family: Comfortaa; 
	font-size: 47px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 75.2px; }
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: black;
    margin: 17px;
    font-size: 1.7rem;
    border-radius: 10px;
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e242d;
  background: url('../Images/edu.jpg') no-repeat center center/cover;
  height: 100vh;
}


/* Menu Styling */
.center{
    text-align: center;
}

.h-secondary{
    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 12px;
}

#menu{
    margin: 34px;
    display: flex;
}

#menu .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 10px;
    border-radius: 15px;
    background-color: #f3efe1;
}

#menu .box img{
    display: block;
    margin: auto;
    height: 120px;
    width: 200px;
    border-radius: 15px;
}

#menu .box p{
    font-family: 'Shippori Mincho', serif;
}

#menu-container h1{
    font-family: 'Roboto', sans-serif;
}

/* Menu - Place Order Button*/
.ordering-btn{
    display: flex;
    padding: 15px 25px;
    align-items: center;
    justify-content: center;
    margin: 0px 34px 26px 34px;
}

.ordering-btn .place-order{
    height: 48px;
    width: 184px;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 24px;
    background: blue;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    box-shadow: 0 9px #999;

}
.ordering-btn .place-order:hover{background-color: #3e8e41}

.ordering-btn .place-order:active{
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.ordering-btn .menu-icon{
    padding: 10px;
}


/* Contact Styling */
#contact-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
    position: relative;
}

#contact{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0% 16%;
}

#contact-container::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
}

#contact .description{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#contact .head-1{
    text-align: justify;
    text-decoration: underline;
    font-size: 1.4rem;
}

#contact-container h1{
    color: white;
    font-family: 'Roboto', sans-serif;
}
#contact p{
    color: white;
}

#contact .location{
    width: 50%;
    align-items: center;
    justify-content: center;
    /* text-align: center; */

    display: flex;
    flex-direction: column;
}

#contact .details{
    padding-bottom: 16px;
    font-size: 1.2rem;
}



/* Contact Styling */
#review{
    position: relative;
}

#review::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.65;
    background: url('../Images/remote1.png') no-repeat center center/cover;
}

#review h1{
        font-family: 'Roboto', sans-serif;
}

#review-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#review-box input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid black;
}

#review-box textarea{
    width: 100%;
    padding: 0.5rem;
}

#review-box form{
    width: 45%;
}

#review-box label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

.submit-btn{
    border: 0px solid black;
    background-color: white;
    text-align: center;
    padding: 5px 15px;
    border: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 7px;
}
.submit-btn:hover{
    background-color: black;
    color: white;
}
/* Footer styling */
footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
}